template:
  path: beanstalk.yaml
stack_name: agora-develop
stack_tags:
  Environment: "develop"
dependencies:
  - common/agora-common.yaml
  - common/agora-certificate.yaml
  - agoradev/develop/agora-docdb.yaml
parameters:
  AppDeployBucket: 'org-sagebase-agora-deployment-agora-develop'
  AppEnv: 'develop'
  AppHealthcheckUrl: '/about'
  AutoScalingMaxSize: '4'
  AutoScalingMinSize: '2'
  EbDeploymentPolicy: 'RollingWithAdditionalBatch'
  SnsBounceNotificationEndpoint: 'agora-develop-bounce-notifications@sagebase.org'
  SnsNotificationEndpoint: 'agora-develop@sagebase.org'
  EbSolutionStackName: '64bit Amazon Linux 2 v5.5.3 running Node.js 16'
  EC2InstanceType: 't3.large'
  EC2KeyName: 'agora-access'
  MongodbHost: !stack_output_external agora-docdb-develop::ClusterEndpoint
  MongodbAccessSecurityGroup: !stack_output_external agora-docdb-develop::DocumentDbAccessSecurityGroup
  VpcName: 'agoravpc'
  CertificateArn: !stack_output_external agora-certificate::SSLCertificate
