template:
  path: beanstalk.yaml
stack_name: agora-staging
stack_tags:
  Environment: "staging"
dependencies:
  - common/agora-common.yaml
  - common/agora-certificate.yaml
  - agoraprod/staging/agora-docdb.yaml
parameters:
  AppDeployBucket: 'org-sagebase-agora-deployment-agora-staging'
  AppEnv: 'staging'
  AppHealthcheckUrl: '/about'
  AutoScalingMaxSize: '4'
  AutoScalingMinSize: '2'
  EbDeploymentPolicy: 'RollingWithAdditionalBatch'
  SnsBounceNotificationEndpoint: 'agora-staging-bounce-notifications@sagebase.org'
  SnsNotificationEndpoint: 'agora-staging@sagebase.org'
  EbSolutionStackName: '64bit Amazon Linux 2 v5.5.3 running Node.js 16'
  EC2InstanceType: 't3.large'
  EC2KeyName: 'agora-access'
  MongodbHost: !stack_output_external agora-docdb-staging::ClusterEndpoint
  MongodbAccessSecurityGroup: !stack_output_external agora-docdb-staging::DocumentDbAccessSecurityGroup
  VpcName: 'agoravpc-staging'
  CertificateArn: !stack_output_external agora-certificate::SSLCertificate
